h1{
    font-size: 350%;
    text-align: center;
}
ul{
    font-size: 200%;
    float: left;
    padding: 50px;
}
#Bar1{
    border: 2px solid black;
    background-color: greenyellow;
}nything.
Check the source code (CTRL+ U)to see what what has been done.