h1{
    text-align: center;
    font-size: 300%;
}
iframe{
    height: 500px;
    width: 500px;
}
h2{
    text-align: center;
    font-size: 250%;
}
p{
    font-size: 150%;
}
.stylediframe{
    border: 3px solid red;
}