a:link{
    color: green;
    text-decoration: none;
    }
    a:visited{
        color: rgb(163, 19, 144);
        text-decoration: none;
    }
    a:hover{
        color: red;
        text-decoration: underline;
    }
    a:active{
        color: yellow;
        text-decoration: underline;
    }
    h1{
        text-align: center;
        font-size: 300%;
    }
    a{
        font-size: 200%;
    }
    body{
        background-color: rgba(182, 207, 199, 0.76);
    }